.content{_height: 1000px;min-height:1000px;padding: 30px 25px;}
.input-group,.form-group{position: relative;float: left;width: 100%;}
.form-control{float: left;width: 100%;}
label {color: #555555;font-size: 12px; margin-left: 10px;}
.table-responsive{margin-top: 10px;}
.table{border-top: 3px solid #7D9EC0;}
th{font-size: 12px;color: #4F4F4F;text-align: center;font-weight: bold;}
td{text-align: center;font-size:14px;vertical-align: middle;}
tr{background-color:transparent;}
.commdity-graph{margin-top:20px;width: 50%;height: 50%;}
.item-name{color:#0000ff;}
.form-input{padding: 2px 2px;}

.green{color: #01ff70;}
.red{color: #f00000;}
.yellow{color: #eea236;}

#change_state{background-color: orange; border-color: #CDCDB4;color:white;}
#print{background-color: darkblue; border-color: #CDCDB4;color:white;}
.backBtn{background-color: grey; border-color: #CDCDB4;}
.row{margin-top:5px;}