.content{_height: 1000px;min-height:1000px;padding: 30px 25px;}
.input-group,.form-group{position: relative;float: left;width: 100%;}
.form-control{float: left;width: 100%;}
label {color: #555555;font-size: 12px; margin-left: 10px;}


.item-name{color:#0000ff;}
.form-input{padding: 2px 2px;}

.green{color: #01ff70;}
.red{color: #f00000;}
.yellow{color: #eea236;}

#change_state{background-color: orange; border-color: #CDCDB4;color:white;}

.backBtn{background-color: grey; border-color: #CDCDB4;}
.row{margin-top:5px;}