.tinySiteIcon{width:10px;height:10px;}
.commdity-graph{width: 60px;height: 80px;}
.modal-dialog{width:70%;}
.modal-body{height: 400px;width:100%;}
.modal-header{background-color: #3c8dbc;}
.my_label{color: #555555;font-size: 12px;margin-top:8px;}
#search-responser{position: relative;float: left;width: 13%;margin-left: 15px;}
.table-responsive{margin-top: 90px;}
.table{border-top: 3px solid #7D9EC0;}
.my_label{color: #555555;font-size: 12px;margin-top:8px;}
#my_button{margin-right:5%;}
.inquiry_btn{width:200px;position:relative;margin:0 auto;}