a,label{color: #737373;}
a:hover{color: #737373;}
th{font-size: 12px;color: #4F4F4F;text-align: center;}
tbody tr:hover{background:#FAFAD2;}
td{text-align: center;}
.content{_height: 1000px;min-height:1000px;padding: 30px 25px;}
.sampleCondition{position: relative;float: left;width: 25%;}
.search-title{position: relative;float:left;margin-top:2px;}
.input-panel,#sampleOrderProgress{position:relative;float:left;border:1px solid #ccc;border-radius: 3px;padding: 2px 10px;width:60%;}
#sampleOrderProgress{height:26px;padding:0px 12px;}
.label-search{float:left;margin-top: 1%;margin-left: 5.2%;}
.label:hover{background-color: #FF7F00;color: black;}
.commdity-graph{width: 60px;height: 80px;}
.table{border-top: 3px solid #7D9EC0;}
.HoverUnderline:hover{text-decoration:underline;}
